<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ex.droidlist"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phycological-medals.000webhostapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phycological-medals.000webhostapp.com"
                    android:pathPrefix="/yoman"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phycological-medals.000webhostapp.com"
                    android:pathPrefix="/yoman"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phycological-medals.000webhostapp.com"
                    android:pathPrefix="/yoman"
                    android:scheme="domain" />
            </intent-filter>
        </activity>
        <activity android:name=".MyViewFipperActivity" />
        <activity
            android:name=".MaterialTabActivity"
            android:label="@string/title_activity_material_tab" />
        <activity
            android:name=".CustomTabsActivity"
            android:label="@string/title_activity_custom_tabs" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" />

        <service
            android:name=".ExampleIntentService"
            android:exported="false" />
        <service android:name=".MyService" />
        <service android:name=".ForegroundService" />
        <service android:name=".MyBindService" />

        <activity android:name=".DataBindingActivity" />

        <receiver
            android:name=".helper.MyWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="DRoidEx Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name=".LaunchModePlayActivity" />
        <activity android:name=".LifeCyclePrimaryActivity" />
        <activity android:name=".LifeCycleSecondaryActivity" />
        <activity android:name=".JobSchedulerDemoActivity"></activity>
    </application>

</manifest>